body {
  margin: 0;
  font-family: 'Segoe UI';
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  transition: 0.3s;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Hero */
.hero {
  text-align: center;
  padding: 120px 20px;
}

/* Resume Button */
.resume-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

/* Glass UI */
.glass {
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

/* Cards */
.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* Buttons */
.btns a {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 15px;
  background: #38bdf8;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

/* Animation */
.hidden {
  opacity: 0;
  transform: translateY(40px);
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.6s;
}

/* Dark Mode */
.dark {
  background: white;
  color: black;
}
#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.card {
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Hover Effect */
.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.card img {
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}
.btns a {
  transition: 0.3s;
}

.btns a:hover {
  background: #00c6ff;
  color: #fff;
  transform: scale(1.1);
}
